body {
    margin: 0
}

.wrapper:first-child {
    margin-bottom: 30px
}

.main {
    display: flex
}

.czMap {
    width: 800px;
    height: 500px;
}

.mapy-layers > div:last-child  {
    opacity: 0.7;
}

.time-holder {
    background-color: rgba(221, 221, 221, 0.5);
}

.side {
    height: 500px
}

.side > * {
    display: block;
    width: 130px
}

.side > input, .side .hours {
    height: 25px
}

.times {
    height: 100%
}

.under {
    text-align: center;
}

.slider-selection {
    width: 99%;
    display: inline-block;
}

.map-button {
    display: inline-block;
    margin-left: 24px;
    cursor: pointer;
}

.play {
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-left: 24px solid #000;
    border-bottom: 16px solid transparent;
}

.pause {
    width: 8px;
    height: 32px;
    border-right: 8px solid #000;
    border-left: 8px solid #000;
}

.stop {
    width: 32px;
    height: 32px;
    background-color: #000;
}